@import "tailwindcss";

html,
body,
#root {
  overscroll-behavior-y: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
